.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}

.singlePostAuthor {
  margin-left: 5px;
}

.likesCount {
  margin-left: 10px;
}
