.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #eee;
  cursor: pointer;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}
