.settingsPP {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.settingsPP > img {
  height: 70px;
  width: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.settingsPPButton:focus {
  outline-style: none;
}

.settingsPPInput {
  width: 30%;
}

.settingsSubmitButton {
  margin-top: 10px;
}

.image-actions {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.share__image__container {
  width: 70px;
  height: 70px;
  display: flex;
}

.share__image__container img {
  width: 100%;
  object-fit: cover;
}

.share__cancel svg {
  fill: white;
}

.progressBar span {
  color: white !important;
}
