.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 10px;
  width: 100%;
  margin: 10px 0;
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.fileInputBox {
  width: 71%;
  display: flex;
  align-items: center;
}

.writeInput:focus {
  outline-style: none;
}

.categoriesSelect {
  width: 71%;
}

.markDownContainer {
  padding: 10px 0;
}

@media only screen and (max-width: 786px) {
  .writeFormGroup {
    margin: auto;
  }

  .writeInput {
    font-size: 18px;
    padding: 5px;
  }
}
