.writeImg {
  margin-left: 150px;
  width: 70vw;
  border-radius: 10px;
  object-fit: cover;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 10px;
  width: 100%;
  margin: 10px 0;
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.fileInputBox {
  width: 71%;
  display: flex;
  align-items: center;
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  width: 70vw;
  height: 100vh;
  font-family: inherit;
  font-size: 20px;
}

.categoriesSelect {
  width: 71%;
}

.markDownContainer {
  padding: 10px 0;
}

.markDownInput {
  flex: 1;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 20px;
  outline: none;
  min-height: 100vh;
}
